<p id="notice"><%= notice %></p>

<p>
  <strong>Subscapularis:</strong>
  <%= @assessment.subscapularis %>
</p>

<p>
  <strong>Triceps:</strong>
  <%= @assessment.triceps %>
</p>

<p>
  <strong>Chest:</strong>
  <%= @assessment.chest %>
</p>

<p>
  <strong>Axilar:</strong>
  <%= @assessment.axilar %>
</p>

<p>
  <strong>Supra:</strong>
  <%= @assessment.supra %>
</p>

<p>
  <strong>Abs:</strong>
  <%= @assessment.abs %>
</p>

<p>
  <strong>Thigh:</strong>
  <%= @assessment.thigh %>
</p>

<p>
  <strong>Height:</strong>
  <%= @assessment.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @assessment.weight %>
</p>

<p>
  <strong>Bmi:</strong>
  <%= @assessment.bmi %>
</p>

<p>
  <strong>Bodyfat:</strong>
  <%= @assessment.bodyfat %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @assessment.coach %>
</p>

<p>
  <strong>Gym:</strong>
  <%= @assessment.gym %>
</p>

<p>
  <strong>Pupil:</strong>
  <%= @assessment.pupil %>
</p>

<%= link_to 'Edit', edit_assessment_path(@assessment) %> |
<%= link_to 'Back', assessments_path %>
