<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @pupil.user %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @pupil.coach %>
</p>

<%= link_to 'Edit', edit_pupil_path(@pupil) %> |
<%= link_to 'Back', pupils_path %>
